<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "MyApp", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link text-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class: "nav-link text-danger" %>
        </li>
        <!-- Add more navigation links as needed -->
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <%= render 'layouts/account_links' %>
      </ul>
    </div>
  </nav>
</div>
